@media screen and (max-width: 760px) {

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;

    }

    .saudacao {
        font-size: small;
        
        

    }

    ul {
        padding: 0 10px 30px;
        margin: 0 15px;
        display: flex;

    }

    a {
        padding: 0 0 15px;
    }

    a:hover {

        color: rgb(24, 0, 46);
        transition: 0.3s all;
    }

    h1{
        text-align: center;
    }

    h2 {
        font-size: 16px;
    }

    form {
        margin: 0 auto;
       
    }

    form {
        display: flex;
        flex-direction: column;
        width: 110%;
    }

 

    img {
        display:flex;
        width: 300px; 
        height: 300px;
        margin: 15px 0px 45px -50px;
     
       
    }

    p {
        font-size: 20px
    }

}